.modal-overlay-log {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 16px;
  padding-right: 16px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  z-index: 10000;
  background-color: rgba(0, 0, 0, 0.8);
}

.hidden {
  display: none;
}

.modal-box-log {
  background-color: white;
  border-radius: 12px;
  flex-grow: 1;
  max-width: 30rem;
  padding: 21px;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1), 0 4px 6px rgba(0, 0, 0, 0.05);
}

.modal-heading {
  font-size: 1.25rem;
  font-weight: bold;
}

.modal-form {
  margin-top: 12px;
  margin-bottom: 12px;
  padding-top: 16px;
  padding-bottom: 16px;
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  border-top: 1px solid #e2e8f0;
  border-bottom: 1px solid #e2e8f0;
}

.modal-input {
  flex-grow: 1;
  border-radius: 8px;
  border: 1px solid #4b5563;
  padding: 8px;
}

.modal1-buttons {
  display: flex;
  justify-content: flex-end;
  gap: 25px;
}



.cancel-button:hover {
  color: black;
  background-color: rgba(147, 197, 253, 0.8);
}

.cancel-button:active {
  background-color: rgba(147, 197, 253, 0.6);
}

.login1-button {
  background-color: #3e86f2;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 8px;
  padding-bottom: 8px;
  font-weight: 600;
  border-radius: 8px;
  transition: background-color 0.2s ease;
  margin-right: 20px;
  color: white;
}

.forgot-button {
  background-color: #3e86f2;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 8px;
  padding-bottom: 8px;
  font-weight: 600;
  border-radius: 8px;
  transition: background-color 0.2s ease;
  margin-right: 20px;
  color: white;
}

.cancel1-button {
  background-color: #3e86f2;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 8px;
  padding-bottom: 8px;
  font-weight: 600;
  border-radius: 8px;
  color: white;
  transition: background-color 0.2s ease;
  margin-right: 20px;
}

.login-button:hover {
  color: black;
  background-color: rgba(147, 197, 253, 0.8);
}

.login-button:active {
  background-color: rgba(147, 197, 253, 0.6);
} 









@media (max-width: 535px) {
  .modal-box-log {
    width: calc(100% - 32px); 
    max-width: none;
    padding: 16px; 
  }

  .modal1-buttons {
    flex-direction: column; 
    gap: 12px;
    align-items: stretch; 
    max-width: 100%;
  }

  .login1-button, .cancel1-button, .forgot-button {
    margin-left: 20px; 
    padding: 12px; 
    text-align: center; 
    max-width: 90%;
  }
}

 
