.order-grid {
  --background-color: white;
  --text-color: black;
  --elements-color: white;
  --header-back: #f1f1f1;
  display: grid;
  grid-template-columns: 1fr 2fr 2fr 1fr;
  gap: 10px;
  padding: 20px;
  font-family: Arial, sans-serif;
  color: var(--text-color);
  max-width: 1200px;
  margin-inline: auto;
  margin-top: 0px !important;
}
.ordhead 
{
  color: var(--text-color);
  margin-top: 100px;
}

    
.order-grid.dark {
  --background-color: #2c4760;
  --text-color: white;
  --elements-color: hsl(209, 23%, 22%);
  --header-back: hsl(209, 23%, 22%);
}

.grid-header {
  display: contents;
  font-weight: bold;
  margin-bottom: 10px;
}

.header-item,
.grid-item {
  padding: 10px;
  border: 1px solid #ddd;
  text-align: center;
}

.grid-body {
  display: contents;
}

.grid-row {
  display: contents;
}

.grid-item {
  display: flex;
  /* align-items: center; */
  justify-content: center;
  flex-direction: column;
  gap: 8px;
  background-color: var(--background-color);
}

.username-column {
  grid-column: 1;
}

.user-details-column {
  grid-column: 2;
}

.orders-column {
  grid-column: 3;
}

.total-price-column {
  grid-column: 4;
}

.grid-item span {
  display: block;
  margin: 5px 0;
}

.grid-header .header-item {
  background-color: var(--header-back);
  color: var(--text-color);
}

.ord {
  display: flex;
  flex-direction: column;
  /* gap: 8px; */
}

.ord span {
  display: block;
  /* text-align: left; */
  margin: 4px 0;
  font-size: 0.9em;
}
.username-column p 
{
  margin: 4px 0;
}

.user-details-column p {
  margin: 4px 0;
  font-size: 0.9em;
  color: var(--text-color);
}
.order-column p {
  margin: 4px 0;
  font-size: 0.9em;
  color: var(--text-color);
}
.admin {
  width: 100%;
  height: calc(100vh - 160px);
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.admin.a {
 margin-block: 80px; 
}
.admin h1 
{
  font-size: 45px;
  color: var(--text-color);
}

.grid-row .amp 
{
  font-size: 0.9em;
}

@media (max-width: 983px) {
  .order-grid {
    margin-top: 80px;
  }
}

@media (max-width: 630px) {
  .order-grid .amp {
    font-size: 14px;
  }
  .grid-item {
    padding: 6px;
  }
}

@media (max-width: 573px) {
  .order-grid .amp {
    font-size: 11px;
  }
  .grid-item {
    padding: 5px;
  }
}

@media (max-width: 490px) {
  .order-grid .amp {
    font-size: 9px;
  }
  .grid-item {
    padding: 3px;
  }
}

@media (max-width: 396px) {
  .order-grid .amp {
    font-size: 6px;
  }
  .grid-item {
    padding: 2px;
  }
}








