.swiper {
    margin-top: 160px;
    position: relative;
    z-index: 0;
    max-width: 1200px;
    width: 100%;
    height: 100%; /* This ensures the Swiper takes the full height of its container */
    padding: 0; /* Remove padding to prevent extra space */
  }
  .pdt 
  {
    margin-top: -10px;
  }

  
  .swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 100%;  
  }
  
  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%; 
    object-fit: cover;
  }


.swiper-button-next
{
  margin-right: -10px;
}
.swiper-button-prev
{
  margin-left: -9.7px; 
}

.swiper-container
{
  --text-color: black;
  --elements-color: white;
}

.swiper-container.dark 
{
  --elements-color: hsl(209, 23%, 22%);
    --text-color: white;
}

.swiper-container {
  
    padding-inline: 16px; /* Add padding here */
    max-width: 1200px;
    max-height: 250px;
    margin: auto; /* Center the Swiper within its container */
  }

  .swiper-button-next,.swiper-button-prev{
    background-color:var(--elements-color);
    padding-block: 16px;
    padding-inline: 8px;
    margin-top: -38px;
    
  }


.swiper-button-next::after
{
  font-size: 20px;
  color: var(--text-color)
}
.swiper-button-prev::after
{
  color: var(--text-color);
  font-size: 20px;
}


@media(max-width : 1190px)
{

    .swiper-button-next,.swiper-button-prev
    {
        display: none;
    }

}
